@import "core";
@import "sub";
@import "sub_menu";

.journal {
  max-width: 1024px;
  width: 100%;
  height: 250px;
  margin: 25px auto;
  border: 1px solid #ddd;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;

  h3, p {
    text-align: center;
    margin-top: 110px;
    z-index: 2;
    position: absolute;
    left: 0;
    right: 0;
    color: black;
  }

  p {
    margin-top: 200px;
    font-size: .8rem;
  }

  &:hover h3, &:hover p {
    color: white;
  }

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: transparent;
    top: 0;
    left: 0;
    transition: .3s;
  }

  &:hover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(249, 49, 68, 0.5);
    top: 0;
    left: 0;
  }
}

.yes {
  margin: 200px 0;

  p {
    color: #aaa;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
  }
}

.selection-checkboxes {
  display: flex;
  justify-content: center;

  & > div {
    margin-right: 15px;
  }
}

.styled-checkbox {
  position: absolute;
  opacity: 0;
}

.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
  text-transform: uppercase;
}

.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ccc;
  border: 1px solid #999;
}

.styled-checkbox:hover + label:before {
  background-color: #ff7dbe;
}

.styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
}

.styled-checkbox:checked + label:before {
  background-color: #ff0071;
  border: 0 solid #999;
}

.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white,
  4px 0 0 white,
  4px -2px 0 white,
  4px -4px 0 white,
  4px -6px 0 white,
  4px -8px 0 white;
  transform: rotate(45deg);
}
