@import "core";
@import "sub";
@import "sub_menu";

.nav-bar-2 {
  height: 80px;
  margin: 0;
  padding: 15px 0 0;
  background-color: transparent;
  border-bottom: 0;
  position: absolute;
  ul li a {
    color: white;
    position: relative;
  }
  ul li:hover a::after {
    content: ' ';
    position: absolute;
    bottom: -2px;
    width: 100%;
    border-bottom: 1px white solid;
    left: 0;
  }
}

.burger__patty {
  background: white;
  height: 3px;
}

.burger {
  right: 30px;
  top: 22px;
}

.head {
  padding-top: 160px;
  background: #ffffff url('../img/project-inheader.svg') no-repeat bottom;
  color: white;
  height: auto;
  padding-bottom: 90px;
  font-weight: 700;
  margin-bottom: 75px;
}

.sub-head {
  background-size: cover;
}

.head .container img {
  margin-bottom: 50px;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 50px;
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 600px) {
  #project-title {
    font-size: 1.5rem;
  }
}

.info {
  margin: 50px 0;
  line-height: 2;
  font-size: 1.05rem;
  color: #444;
}

.info p {
  margin: 20px 0;
}

h2 {
  margin: 50px 0 0;
}

.quote-wrapper {
  width: 70%;
  margin: 0 auto;

}

.quote-wrapper p {
  margin: 0;
}

.quote-wrapper .quote::before,
.quote::after {
  content: '"';
}

.quote-wrapper .quote-author {
  font-weight: 700;
  color: #f4507f;
}

.credit-section {
  background-color: #F2F2F2;
  padding: 72px 48px;
  text-align: center;
  line-height: 2.2;
  max-width: 638px;
  width: 48%;
  margin: 0 auto;
  font-size: 1rem;
}

@media screen and (max-width: 768px) {
  .credit-section {
    width: 85%;
  }
}

.credit-section h4 {
  font-size: 1.1rem;
  color: #f4507f;
  font-weight: 300;
}

.credit-section ul li {
  list-style-type: none;
}

.credit-section ul a {
  color: black;
  text-decoration: underline;
}

.credit-section ul a:hover {
  color: #f4507f;
  text-decoration: underline;
}

.credit-section ul {
  padding: 0;
  margin-bottom: 30px;
}

.credit-section ul:last-of-type {
  margin-bottom: 0;
}
