<footer>
  <div class="container">
    <img class="logo" src="/img/logo/logo-text.svg">
    <div class="social">
      <a href="https://www.facebook.com/marstanjx" target="_blank"><img class="social-icon" src="/img/icon/fb.svg" data-toggle="tooltip" data-placement="bottom" title="@marstanjx"></a>
      <a href="https://www.instagram.com/marstanjx/" target="_blank"><img class="social-icon" src="/img/icon/ins.svg" data-toggle="tooltip" data-placement="bottom" title="@marstanjx"></a>
      <a href="https://dribbble.com/marstanjx" target="_blank"><img class="social-icon" src="/img/icon/dribbble.svg" data-toggle="tooltip" data-placement="bottom" title="@marstanjx"></a>
      <a href="https://github.com/TANJX" target="_blank"><img class="social-icon" src="/img/icon/github.svg" data-toggle="tooltip" data-placement="bottom" title="@TANJX"></a>
      <img class="social-icon" src="/img/icon/wechat.svg" data-toggle="tooltip" data-placement="bottom" title="@marstanjx">
    </div>
    <p>Mars. 2020. <a href="https://github.com/TANJX/MarsWebsite">GitHub</a>.</p>
  </div>
</footer>
