 .title {
  background-color: greenyellow;
 }

 .card {
  text-align: center;
  margin: 0 auto;
 }

 .event-block {
  display: block;
  margin: 10px 0;
  padding: 15px 25px;
  text-align: left;
 }

 .block-left {
  float: left;
 }

 .block-right {
  font-size: 1em;
  margin-top: 8px;
  float: right;
  padding: 5px;
  border-radius: .3rem;
 }

 .block-right h4 {
  font-size: 1.3em;
  padding: 0;
  margin: 0;
 }

 .past {
  background-color: orangered;
  color: white;
 }

 .future {
  background-color: greenyellow;
 }

 .selection-checkboxes div {
  display: inline;
  margin-right: 10px;
  margin-left: 10px;
 }

 .styled-checkbox {
  position: absolute;
  opacity: 0;
 }

 .styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
 }

 .styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 20px;
  height: 20px;
  background: #ccc;
  border: 1px solid #999;
 }

 .styled-checkbox:hover + label:before {
  background-color: greenyellow;
 }

 .styled-checkbox:focus + label:before {
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
 }

 .styled-checkbox:checked + label:before {
  background-color: lawngreen;
  border: 0px solid #999;
 }

 .styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 5px;
  top: 9px;
  background: white;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 white, 4px 0 0 white, 4px -2px 0 white, 4px -4px 0 white, 4px -6px 0 white, 4px -8px 0 white;
  transform: rotate(45deg);
 }
