RewriteEngine on

DirectorySlash off

RewriteCond %{HTTP_HOST} ^www\. [NC,OR]
RewriteCond %{HTTPS} !on
RewriteCond %{HTTP_HOST} ^(?:www\.)?(.+)$ [NC]
RewriteRule ^ https://%1%{REQUEST_URI} [R=301,L,NE]

ErrorDocument 404 /old_html/404.html

# add slash
RedirectMatch ^/([^.^/]+)$ /$1/
RedirectMatch ^/project/([^.^/]+)$ /project/$1/
RedirectMatch ^/journal/([^.^/]+)$ /journal/$1/

RedirectMatch ^/index/$ "/"

RewriteRule ^print/$ print.html [NC,L]

RewriteRule ^resume/$ files/resume.pdf [NC,L]
RewriteRule ^game/$ game.html [NC,L]
RewriteRule ^/$ index.html [NC,L]
RewriteRule ^poster/$ poster.php [NC,L]
RewriteRule ^project/$ project.php [NC,L]
RewriteRule ^journal/$ journal.php [NC,L]

RewriteRule ^graphics-others/$ graphics.php?filter=others [NC,L]
RewriteRule "^graphics-others-(.*)/$" "graphics.php?filter=others&page=$1"
RewriteRule ^graphics/$ graphics.php [NC,L]
RewriteRule "^graphics-(.*)/$" "graphics.php?page=$1"
RewriteRule ^animation/$ graphics.php?filter=animation [NC,L]
RewriteRule "^animation-(.*)/$" "graphics.php?filter=animation&page=$1"
RewriteRule ^vector/$ graphics.php?filter=vector [NC,L]
RewriteRule "^vector-(.*)/$" "graphics.php?filter=vector&page=$1"

RewriteRule "^journal/([^/]*)/$" "journal.php?journal=$1"

RewriteRule "^project/([^/]*)/$" "project.php?name=$1"
RewriteRule "^project-(.*)/$" "project.php?page=$1"
RewriteRule "^printed-project-(.*)/$" "project.php?filter=printed&page=$1"
RewriteRule "^printed-project/$" "project.php?filter=printed"
RewriteRule "^web-project-(.*)/$" "project.php?filter=web&page=$1"
RewriteRule "^web-project/$" "project.php?filter=web"
RewriteRule "^video-project-(.*)/$" "project.php?filter=video&page=$1"
RewriteRule "^video-project/$" "project.php?filter=video"