RewriteEngine on

RewriteRule ^game$ game.html [NC,L]
RewriteRule ^index$ index.html [NC,L]
RewriteRule ^about$ about.html [NC,L]
RewriteRule ^poster$ poster.php [NC,L]
RewriteRule ^project$ project.php [NC,L]
RewriteRule ^graphics$ graphics.php [NC,L]
RewriteRule "^project-(.*)$" "project.php?name=$1"