extends _main
block styles
    link(rel='stylesheet' href='/css/index-new.css')

block body
    +prev_control('Old Landing Page','old_html/index_old.html')

    .logo
        include ../static/img/logo/avatar-18rocket.svg

    .nav-bar
        ul(class='nav nav-main justify-content-center')
            +index_nav('PROJECT', '/project', false)

            +index_nav('GRAPHIC', '/graphics', false,
              { name: 'Vector', link: 'vector' },
              { name: 'Animation', link: 'animation' },
              { name: 'poster', link: 'Poster' })

            //+index_nav('DEV','/game')

            +index_nav('JOURNAL','/journal', false,
              { name: 'Mar 2020', link: '/journal/2020-3', external: false },
              { name: 'Feb 2020', link: '/journal/2020-2', external: false },
              { name: 'Jan 2020', link: '/journal/2020-1', external: false },
              { name: 'Nov 2019', link: '/journal/2019-11', external: false })

            //+index_nav('APPS','http://apps.marstanjx.com', true,
            //  { name: 'Event', link: 'http://apps.marstanjx.com/#/event/', external: true },
            //  { name: 'Log', link: 'http://apps.marstanjx.com/#/log/', external: true },
            //  { name: 'Japanese', link: 'http://apps.marstanjx.com/japanese/', external: true })

            +index_nav('RESUME','/resume', true)

    .intro
        .container
            p.center As a multidisciplinary innovator myself, I am devoted to designing and developing experiences that engage and inspire people to become better selves.

    .main.container
        .blocks
            // top left big
            +block({
              img: '/img/index/aardvarc.jpg',
              link: '//acadoinformatics.com/aardvarc/',
              external: true,
            }, {
              zoom: 'out',
              pos: 'big__left'
            }, {
              type: 'Recent Project',
              name: 'AARDVARC',
              more: 'View Website'
            })

            // top right 1
            +block({
              img: '/img/index/connect.png',
              gif: '/works/graphics/connector.gif'
            }, {}, {})

            // top right 2
            +block({
              img: '/img/index/vitamins-render.jpg',
              gif: '/img/index/vitamins.jpg'
            }, {}, {})

            // bottom left 1
            +block({
              img: '/img/index/apps.svg',
              link: '//apps.marstanjx.com',
              external: true,
            }, {
              zoom: 'in'
            }, {
              type: 'small',
              name: 'Web Apps'
            })

            // bottom left 2
            +block({
              img: '/img/index/ramen.png',
              gif: '/works/graphics/ramen.gif'
            }, {}, {})

            // bottom right big
            +block({
              img: '/img/index/graphics.jpg',
              link: '/graphics'
            }, {
              zoom: 'out',
              pos: 'big__right'
            }, {
              type: 'Design and Animation',
              name: 'Motion Graphics',
              more: 'View Works'
            })

        .blocks
            // top left big
            +block({
              img: '/img/index/drinks.jpg',
              link: '/poster'
            }, {
              zoom: 'out',
              pos: 'big__left'
            }, {
              type: 'Poster Design',
              name: 'soft drink comparison',
              more: 'View Works'
            })

            // top right 1
            +block({
              img: '/img/index/2020-2.png',
              link: '/journal/2020-2'
            }, {
              zoom: 'in'
            }, {
              type: 'small',
              name: 'February 2020 Log'
            })

            // top right 2
            +block({
              img: '/img/index/2020-3.jpg',
              link: '/journal/2020-3'
            }, {
              zoom: 'in'
            }, {
              type: 'small',
              name: 'March 2020 Log'
            }, 'white')

            // bottom left 1
            +block({
              img: '/img/index/isotope.jpg',
              link: '//isotopestudio.cc'
            }, {
              zoom: 'in'
            }, {})

            // bottom left 2
            +block({
              img: '/img/index/calendar.jpg',
              link: '/project/calendar'
            }, {}, {})

            // bottom right big
            +block({
              img: '/img/index/japanese.jpg',
              link: '//notes.marstanjx.com',
              external: true,
            }, {
              zoom: 'out',
              pos: 'big__right'
            }, {
              type: 'Web Application',
              name: 'Japanese Notes',
              more: 'View Website'
            })


block scripts_after
    script(src='/js/index.js')
    script(src='/js/index_new.js')
