@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
}

::selection {
  background: #fd82a5;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.clear {
  clear: both;
}

.page-link, .page-link:hover {
  color: #ed3368;
}

/* footer */

footer {
  margin-top: 25px;
  height: 250px;
  background-color: #F95F8B;
  position: relative;
}

footer .logo {
  padding-top: 20px;
  width: 250px;
}

footer .social {
  display: block;
  margin-top: 20px;
}

footer .social-icon {
  height: 25px;
  margin-right: 10px;
  transition: 0.2s;
}

footer .social-icon:hover {
  opacity: 0.7;
}

footer p {
  position: absolute;
  color: white;
  font-size: 0.7rem;
  bottom: 0px;
  display: none;
  text-align-last: center;
}

footer a {
  color: aliceblue;
  text-decoration: underline;
}

footer:hover p {
  display: block;
}