.head {
  background-color: #222;
  height: 500px;
  padding-top: 180px;
}

.head img {
  height: 100px;
}

.typing-text i {
  margin: 0 -4px;
  padding: 0;
  font-style: normal;
  white-space: nowrap;
  position: relative;
  font-size-adjust: none;
  width: 0;
  color: white;
}

.typing-text h1 {
  display: inline;
}

.typing-text .space {
  margin: 0 7px;
}

.in {}

.out {
  display: none;
}

.tout {
  display: none;
}

.selection {
  background-color: #666;
}

.typing-text h1 {
  border-radius: 2px;
  padding: 0 5px;
  padding-right: 7px;
  animation: .9s blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.section {
  font-family: 'Source Sans Pro', sans-serif;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 60px;
}

.section h2 {
  font-weight: 700;
}

.section p {
  margin-top: 30px;
  color: #aaa;
}

.section button {
  margin-top: 20px;
}

.section a {
  color: #aaa;
  text-decoration: underline;
}

.line {
  border-bottom: 1px solid #ccc;
}

@keyframes blink {
  0% {
    border-right: 2px white solid;
  }
  80% {
    border-right: 2px #444 solid;
  }
}
