.typing-text i {
  margin: 0 -4px;
  padding: 0;
  font-style: normal;
  white-space: nowrap;
  position: relative;
  font-size-adjust: none;
  width: 0;
}

.typing-text h1 {
  display: inline;
}

.typing-text .space {
  margin: 0 7px;
}

.in {}

.out {
  display: none;
}

.tout {
  display: none;
}

.typing-text-wrapper div:nth-child(1) h1 {}

.selection {
  background-color: #444;
  color: white;
}

.typing-text h1 {
  border-radius: 2px;
  padding: 0 5px;
  padding-right: 7px;
  animation: 1s blink;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  0% {
    border-right: 2px white solid;
  }
  80% {
    border-right: 2px #444 solid;
  }
}
