@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
}

::selection {
  background: #fd82a5;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
}


.title {
  /*  background-color: springgreen;*/
  /*  background-color: #72e5f2;*/
  background-color: rgb(255, 234, 150);
  padding: 1px 0px 0px 0px;
  display: block;
  color: white;
}

.title p {
  margin: 0;
}

.title p:first-of-type {
  float: left;
}

.title p:last-of-type {
  float: right;
}

.nav-bar {
  margin: 0 auto;
}

.nav-bar .nav {
  margin: 0 auto;
}

.section a {
  color: black;
}

.nav a {
  color: orangered;
  text-align: center;
  transition: .5s;
}

.nav a:hover {
  color: palevioletred;
  transition: .5s;
}

.nav-bar ul li {
  list-style: none;
  float: left;
  position: relative;
}

.nav-main ul li a {
  text-transform: uppercase;
  position: relative;
  color: #ed3368;
  padding: 10px 13px 10px 13px;
  display: block;
  z-index: 10;
  font-size: .8em;
}

ul li a i {
  position: absolute;
  right: 10px;
  top: 14px;
}

ul li .drop-down {
  position: absolute;
  padding: 0;
  display: none;
  margin: 0;
  left: 0;
  z-index: 5;
  background-color: white;
}

ul li .drop-down li {
  position: relative;
  float: none;
}

ul li .drop-down li a:hover {
  background: #fd82a5;
  color: #FFF;
  text-decoration: none;
}

.accent {
  width: 0%;
  height: 100%;
  background: #ddd;
  position: absolute;
  transition: 0.3s ease;
}

.logo {
  margin: 0 auto;
  width: 200px;
}

.logo-main {
  margin-bottom: 50px;
  margin-top: 50px;
}

.intro {
  background-color: #F95F8B;
  display: block;
  color: white;
  padding: 30px 0px 10px 0px;
  text-align: justify;
}

.intro a {
  color: white;
  text-decoration: underline;
}

.section {
  padding-top: 30px;
  padding-bottom: 100px;
}

.section-title {
  position: relative;
}

.section-title .title-icon {
  height: 25px;
  position: absolute;
  left: -35px;
}

.project .title-icon {
  height: 20px;
}

.section-title h2 {
  font-size: 1.5rem;
  margin-bottom: 80px;
}

.section {
  background-color: white;
  overflow: hidden;
}

.project,
.coding {
  background-color: #eee;
}

.section .block {
  height: 400px;
  display: block;
  float: left;
  width: 32.5%;
}

.section a:hover {
  text-decoration: none;
}

.section .block-m {
  margin-right: 1%;
  margin-left: 1%;
}

.section h3 {
  font-size: 1.25rem;
}

.project .block-m .sub-block-1 {
  background-color: #0083E8;
  color: white;
  height: 60px;
  margin-bottom: 10px;
}

#project-text-wrapper {
  transition: .5s;
}

.project .block-m .sub-block-2 {
  background-color: black;
  height: 330px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: 1s;
}

/* calendar */

.project .block-r .sub-block-1 {
  background-size: cover;
  background: #F2D680;
  color: #333;
  height: 60px;
  margin-bottom: 10px;
  transition: .6s;
  position: relative;
}

.project .block-r .sub-block-1 .block-img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../img/calendar/calendar-1.jpg') no-repeat scroll center;
  background-size: cover;
  opacity: 0;
  transition: opacity .5s;
}

.project .block-r .sub-block-1:hover .block-img {
  opacity: 1;
  transition: opacity .5s;
}

/* bookmark */

.project .block-r .sub-block-2 {
  background-color: #F29A2E;
  color: white;
  height: 60px;
  margin-bottom: 10px;
  transition: .6s;
  background-position: center;
  background-size: cover;
  position: relative;
}

.project .block-r .sub-block-2 .block-img {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url('../img/bookmark/bookmark-1.jpg') no-repeat scroll center;
  background-size: cover;
  opacity: 0;
  transition: opacity .5s;
}

.project .block-r .sub-block-2:hover .block-img {
  opacity: 1;
  transition: opacity .5s;
}


/* squareone */

.project .block-r .sub-block-3 {
  background-color: #D92818;
  height: 260px;
  color: white;
  transition: .6s;
}

.project .block-r .sub-block-3 p {
  transition: .6s;
}

.graphics-img {
  background-image: url(../img/graphic.png);
  background-size: 180%;
  background-position: 40% 80%;
  background-repeat: no-repeat;
}

.graphics .block-l {
  background-color: black;
  color: white;
}

.graphics .block-m {
  background-color: white;
}

.graphics .sub-block-1 {
  background-color: #777;
  height: 60px;
  color: white;
  margin-bottom: 10px;
}

.graphics .sub-block-2 {
  background-color: #555;
  height: 180px;
  color: white;
}

.graphics .sub-block-3 {
  margin-top: 10px;
  background-color: aliceblue;
  background-image: url(../img/icon/timeline.svg);
  height: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.coding .block-m {
  background-image: url(../img/minecraft.jpg);
  background-repeat: no-repeat;
  background-position: 35% 50%;
  background-size: cover;
  color: white;
}

.coding .sub-block-1:after {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.6;
  background-image: url(../img/icon/github.svg);
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: 150px 50px;
}

.coding .sub-block-1 {
  position: relative;
  background-color: #10A0FF;
  color: white;
  height: 100px;
  transition: .5s;
}

.coding .sub-block-1:hover {
  background-color: #1295CF;
  transition: .5s;
}

.coding .sub-block-2 {
  margin-top: 10px;
  background-color: #555;
  color: white;
  height: 290px;
}

.about .block-l {
  font-style: italic;
}

.about .block-m .sub-block-1 {
  background-color: #F29A2E;
  height: 60px;
  margin-bottom: 10px;
  color: white;
}

.about .block-m .sub-block-2 {
  background-image: url('../img/piano.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 330px;
  background-position: 50%;
}

.about .block-r .sub-block-1 {
  background-image: url('../img/drama.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 250px;
  background-position: 80%;
  margin-bottom: 10px;
  color: white;
  text-shadow: 1px 1px 3px #aaa;
}

.about .block-r .sub-block-1 p {
  margin-top: 180px;
}

/* Japanese */

.about .block-r .sub-block-2 {
  background: #3D9DF2;
  height: 140px;
  color: white;
  position: relative;
  overflow: hidden;
}

#japanese-text span {
  position: absolute;
  right: -150px;
  opacity: 0.8;
}

@keyframes move {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-530px);
  }
}

.block-l {
  background-color: black;
  color: white;
}

.block-inner {
  padding: 15px;
  padding-top: 20px;
  text-align: justify;
}

.block-inner p {
  margin-top: 20px;
  font-size: .85rem;
}

.clear {
  clear: both;
}

footer {
  margin-top: 25px;
  height: 250px;
  background-color: #F95F8B;
  position: relative;
}

footer .logo {
  padding-top: 20px;
  width: 250px;
}

footer .social {
  display: block;
  margin-top: 20px;
}

footer .social-icon {
  height: 25px;
  margin-right: 10px;
  transition: 0.2s;
}

footer .social-icon:hover {
  opacity: 0.7;
}

footer p {
  position: absolute;
  color: white;
  font-size: 0.7rem;
  bottom: 0px;
  display: none;
  text-align-last: center;
}

footer a {
  color: aliceblue;
  text-decoration: underline;
}

footer:hover p {
  display: block;
}

@media (min-width: 576px) {
  .coding .sub-block-1:after {
    background-position: 280px 10px;
  }
}

@media (max-width: 576px) {
  .nav-bar {
    margin-bottom: 20px;
  }
  .nav .nav-link {
    padding: 0px 8px;
  }
  .nav .nav-link:after {
    content: ' ';
    width: 100%;
    display: block;
    border-bottom: 1px solid orangered;
  }
  .section-title h2 {
    margin-left: 35px;
  }
  .section-title .title-icon {
    left: 0px;
  }
}

@media (max-width: 756px) {

  .section .block {
    float: none;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .sub-block-1 {
    margin-top: 10px;
  }

  .coding .block-m {
    margin-top: 10px;
  }

  .coding .sub-block-1:after {
    background-position: 280px 10px;
  }

  .coding .sub-block-2 {
    margin-top: 10px;
  }

}

@media (max-width: 832px) and (min-width: 380px) {

  @keyframes move {
    0% {
      transform: translateX(0px);
    }
    100% {
      transform: translateX(-730px);
    }
  }

}
