.section {
  /*  height: 100vh;*/
  position: relative;
}

.section .top-img {
  float: left;
  height: 60%;
  width: 50%;
  margin-top: 100px;
  background-image: url('../img/video/football.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section .top-img img {
  height: 250px;
}

.football .section-info {
  float: right;
}
