.main-head {
  background: #f4f4f4;
  background-size: cover;
  height: 450px;
}

.head {
  padding-top: 120px;
}

.head img {
  width: 150px;
  margin-bottom: 25px;
}

.head .filter {
  margin-top: 40px;
}

.head .filter .btn {
  /*color: white;*/
}

.pieces {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.piece {
  width: 50%;
  margin: 0;
  padding: 0;
  position: relative;
  overflow: hidden;
}

.piece h4 {
  font-size: 1.2rem;
}

.piece img {
  width: 100%;
  margin: 0;
  padding: 0;
  transition: .2s;
}

.piece .info {
  position: absolute;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: block;
  color: white;
  padding: 15px 15px;
  opacity: 1;
  transition: .2s;
  bottom: -80px;
  z-index: 10;
}

.piece:hover img {
  opacity: 0.8;
}

.piece:hover .info {
  bottom: 0px;
}

.page-control {
  margin-top: 10px;
}

@media (max-width: 576px) {

  .head img {
    width: 100px;
  }

  .pieces {
    display: block;
  }

  .piece {
    width: 100%;
  }
}
