@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600');

$primary-color: #f95f8b;
$primary-color-thin: #fd82a5;

body {
  background-color: white;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: 'Source Sans Pro', sans-serif;
}

::selection {
  background: $primary-color-thin;
  color: white;
}

h1,
h2,
h3 {
  font-weight: 600;
}

.clear {
  clear: both;
}

.center {
  text-align: center;
}

.page-link, .page-link:hover {
  color: $primary-color;
}

footer {
  margin-top: 25px;
  height: 250px;
  background-color: $primary-color;
  position: relative;

  .logo {
    padding-top: 20px;
    width: 250px;
  }

  .social {
    display: block;
    margin-top: 20px;
  }

  .social-icon {
    height: 25px;
    margin-right: 10px;
    transition: 0.2s;
  }

  .social-icon:hover {
    opacity: 0.7;
  }

  p {
    position: absolute;
    color: white;
    font-size: 0.7rem;
    bottom: 0;
    display: none;
    text-align-last: center;
  }

  a {
    color: aliceblue;
    text-decoration: underline;
  }

  &:hover p {
    display: block;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1500px) {
  .container {
    max-width: 1300px;
  }
}

@media (min-width: 2000px) {
  .container {
    max-width: 1700px;
  }
}
