.title {
  background-color: deepskyblue;
  padding-top: 80px;
}

.first-btn {
  display: block;
}

.second-btn {
  display: block;
}

.nav-main {
  background-color: white;
  display: block;
}

.notes {
  overflow: scroll;
}

@media (max-width: 1060px) {
  .title {
    padding-top: 100px;
    background-color: gold;
  }
}

@media (max-width: 910px) {
  .title {
    padding-top: 130px;
    background-color: crimson;
  }
}

@media (max-width: 600px) {
  .title {
    padding-top: 200px;
    background-color: mediumaquamarine;

  }
}
