doctype html
include _mixin
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Print
    body
        iframe(src="https://onedrive.live.com/embed?cid=E23422C53556AEF2&resid=E23422C53556AEF2%21119538&authkey=AChAqnXOcOPImdo" frameborder="0" scrolling="no")