.next-control, .prev-control {
  position: fixed;
  height: 80px;
  top: calc(50vh - 40px);
  bottom: 0;
  width: 300px;
  background-color: #dcdcdc;
  transition: .8s;
  transition-timing-function: cubic-bezier(.09, .56, .49, .98);
  z-index: 50;

  div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      height: 50px;
      width: 50px;
    }
    p {
      text-transform: uppercase;
      font-size: 0.8rem;
      letter-spacing: .16667em;
      margin: 0;
      font-weight: bold;
      color: #1c1c1c;
      max-width: 190px;
    }
  }
}

.next-control {
  right: -230px;

  &:hover {
    right: 0;
  }

  div {
    padding: 15px 40px 0 15px;
  }
}

.prev-control {
  left: -230px;

  &:hover {
    left: 0;
  }

  div {
    flex-flow: row-reverse;
    padding: 15px 15px 0 40px;
  }
}

@media (pointer: coarse) {
  .next-control, .prev-control {
    height: 41px;
    width: 190px;
    top: unset;
    position: relative;
    div {
      padding: 9px 15px 0;
      img {
        height: 25px;
      }
      p {
        font-size: 0.6rem;
      }
    }
  }

  .next-control {
    right: 0;
    margin: 15px 0 0 auto;
  }

  .prev-control {
    left: 0;
    margin: 15px auto 0 0;
  }
}