@import "core";
@import "sub";
@import "sub_menu";

.head {
  background-color: #eeeeee;
  padding-top: 100px;
  height: 400px;
}

.head .filter {
  margin-top: 40px;
}

#anime {
  height: 175px;
  width: 100%;
}

.item:hover {
  color: #FFF;
}

.cards {
  margin-top: 50px;
  float: left;
  position: relative;
  width: 100%;
}

.card {
  width: 32%;
  display: inline-block;
  margin-right: .6%;
  margin-bottom: 1%;
  position: relative;
  overflow: hidden;
}

.card-info {
  background-color: black;
  height: 25%;
  position: absolute;
  bottom: 0;
  padding: 5% 5%;
  width: 100%;
  transform: translate(0px, 150px);
  transition: 0.2s;
  opacity: 0;
}

.card .detail {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: .3s;
}

.card .detail p {
  font-size: 1em;
  margin: 0;
  padding: 2px 5px;
  border-radius: 2px;
  background-color: cornflowerblue;
  color: white;
}

.card:hover .card-info {
  background-color: rgba(0, 0, 0, 0.7);
  height: 25%;
  position: absolute;
  bottom: 0;
  padding: 5% 5%;
  width: 100%;
  transform: translate(0px, 0px);
  transition: 0.2s;
  opacity: 1;
}

.card:hover .detail {
  opacity: 1;
}

.card img {
  transition: 0.2s;
}

.card:hover img {
  transform: scale(0.95);
  transition: 0.2s;
}

.vertical-text {
  position: absolute;
  transform: rotate(-90deg) translate(90px, -110px);
  transform-origin: right bottom 0;
  font-size: 4rem;
  top: 0;
  left: 0;
  color: #bbb;
  background-color: white;
  z-index: -5;
}

@media (max-width: 1200px) {
  .card h4.card-title {
    font-size: 1rem;
    margin-bottom: 3px;
  }

  .card .card-info {
    font-size: .7rem;
    margin-bottom: 0;
  }
}

@media (max-width: 576px) {
  .head {
    padding-top: 70px;
    height: 450px;
  }

  .cards {
    float: none;
  }

  .card .detail {
    opacity: 1;
  }

  .card {
    width: 100%;
    display: block;
    margin-right: 0;
    margin-bottom: 2%;
  }

  .vertical-text {
    position: relative;
    transform: none;
    top: 0 !important;
  }
}
