@import "core";
@import "control";
@import "rocket";
@import "index_block";

.main {
  margin-top: 50px;
}

// season banner
.title {
  // background-color: springgreen;
  // background-color: #72e5f2;
  background-color: rgb(255, 234, 150);
  padding: 1px 0 0 0;
  display: block;
  color: #1a1a1a;

  .container {
    display: flex;
    justify-content: space-between;
  }

  p {
    margin: 0;
  }
}

// index nav bar
.nav-bar {
  margin: 0 auto;
  .nav {
    margin: 0 auto;
  }
}

.nav-bar {
  li {
    list-style: none;
    float: left;
    position: relative;
  }

  .accent {
    width: 0;
    height: 100%;
    background: #ddd;
    position: absolute;
    transition: 0.3s ease;
  }

  .drop-down {
    position: absolute;
    padding: 0;
    display: none;
    margin: 0;
    left: 0;
    z-index: 5;
    background-color: white;
    min-width: 100%;

    li {
      position: relative;
      float: none;
      a:hover {
        background: #fd82a5;
        color: #FFF;
        text-decoration: none;
      }
    }
  }

  .nav-main {
    a {
      color: orangered;
      text-align: center;
      transition: .5s;
      &:hover {
        color: palevioletred;
        transition: .5s;
      }
    }
    ul li a {
      text-transform: uppercase;
      position: relative;
      color: #ed3368;
      padding: 10px 13px 10px 13px;
      display: block;
      z-index: 10;
      font-size: .8em;
      i {
        position: absolute;
        right: 10px;
        top: 14px;
      }
    }
  }
}

// logo
.logo {
  margin: 0 auto;
  width: 200px;

  .logo-main {
    margin-bottom: 50px;
    margin-top: 50px;
  }
}

// intro banner
.intro {
  background-color: #F95F8B;
  display: block;
  color: white;
  padding: 30px 0 10px 0;
  text-align: justify;
  a {
    color: white;
    text-decoration: underline;
  }
}

@media (max-width: 576px) {
  .nav-bar {
    margin-bottom: 20px;
  }

  .nav .nav-link {
    padding: 0 8px;
  }

  .nav .nav-link:after {
    content: ' ';
    width: 100%;
    display: block;
    border-bottom: 1px solid orangered;
  }
}
